<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Nutrition</title>
    <h1>Graph</h1>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  </head>
  <body>
      <canvas id="linechart" width="500" height="500"></canvas>
      <script>
          var ctx= document.getElementById('linechart').getContext("2d")
          type:line
          data:{
              labels:{{x_axis |safe}}
              dataset:[
              {{values | safe}}
              
          ]
          }
      </script>

    
  </body>
</html>
