<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Nutrition</title>
    <h1>Sign Up</h1>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>

    <form action="/">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="johndoe@gmail.com">
        <br><br>
        <label for="username">username:</label>
        <input type="text" id="username" name="username" placeholder="healthy-boy123">
        <br><br>
        <label for="password" >Password:</label>
        <input type="text" id="password" name="password" placeholder="enter a password">
        <br>
        <br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>