<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Nutrition/Login</title>
    <h1>Login</h1>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>

    <form action="/login" id = "login" method = "post">
        <label for="username">username:</label>
        <input type="text" id="login_username" name="login_username" placeholder="healthy-boy123">
        <br><br>
        <label for="password" >Password:</label>
        <input type="text" id="login_password" name="login_password" placeholder="enter a password">
        <br>
        <br>
        <input type="submit" value="Submit">
      </form>
      
  </body>
</html>