<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <title>Document</title>
    </head>
    <body>

        <h1> Video Page</h1>
        <img src="/video_feed" alt="" class="cam">
        <form action="/testingRoute" method="post">
            <input id="button" name="proccess" type="submit">Process Photo!</input>
        </form>
        {% block calories %}
            <h1>{{calories.0}}</h1>
            <h1>{{calories.1}} calories</h1>
        {% endblock %}        
    </body>

</html>