<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/video_feed" alt="" class="cam">
    <form action="/testingRoute" method="post">
        <input id="button" name="proccess" type="submit">Process Photo!</input>
    </form>

    <!-- <script type=text/javascript defer>
        async function processBtn(){
            const response = awaits fetch('http://127.0.0.1:5000/testingRoute'), {
                method : 'POST'
            }
        }

        let btm = document.getElementById('button');
    </script> -->
</body>
</html>